<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servidor" value="GSJP01PD011\SQLEXPRESS"/>
    <add key="database" value="estoque"/>
    <add key="user" value="estoque"/>
    <add key="senha" value="estoque"/>
    <add key="connectionString" value="Data Source=GSJP01PD011\SQLEXPRESS;Initial Catalog=estoque;User ID=estoque"/>
  </appSettings>
</configuration>