<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estoque.Dados.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Estoque.Dados.Properties.Settings>
            <setting name="servidor" serializeAs="String">
                <value>GSJP01PD011\SQLEXPRESS</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>estoque</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>estoque</value>
            </setting>
            <setting name="senha" serializeAs="String">
                <value>estoque</value>
            </setting>
        </Estoque.Dados.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name ="meta" connectionString="Data Source=GSJP01PD011\SQLEXPRESS;Initial Catalog=estoque;User ID=estoque"/>
  </connectionStrings>
</configuration>