<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Estoque.View.Properties.Settings.estoqueConnectionString"
      connectionString="Data Source=GSJP01PD011\SQLEXPRESS;Initial Catalog=estoque;User ID=estoque"
      providerName="System.Data.SqlClient" />
    <add name="Estoque.View.Properties.Settings.ClientestoqueConnectionString"
      connectionString="Data Source=|DataDirectory|\estoque.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="servidor" value="GSJP01PD011\SQLEXPRESS" />
    <add key="database" value="estoque" />
    <add key="user" value="estoque" />
    <add key="senha" value="estoque" />
    <add key="connectionString" value="Data Source=GSJP01PD011\SQLEXPRESS;Initial Catalog=estoque;User ID=estoque;Password=estoque" />
  </appSettings>
</configuration>